player-connection-mode=Listen
player-connection-guid=3939417852
player-connection-debug=0
player-connection-project-name=PurrNet
player-connection-ip=192.168.1.57
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b2978a4bcb5940cb92e1c26869a793ce
